body{
  margin: 0;
  font-family: 'Jost', sans-serif;
}

header {
  background: rgba(83, 81, 81, 0.10);
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
header a{
  text-decoration: none;
  color: #7A7070;
  font-size: 35px;
  margin-right: 100px;
}
.active{
  color: #3d6fb4;
}
main{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 100px;
  box-sizing: border-box;
}
main h1{
  font-size: 70px;
  margin: 0;
}
main p{
  font-size: 35px;
}
