body{
  margin: 0;
  font-family: 'Jost', sans-serif;
}
header{
  width: 100vw;
  height: 20vh;
  background: rgba(83, 81, 81, 0.10);
  display: flex;
  justify-content: end;
  align-items: center;
}
header a{
  text-decoration: none;
  color: #7A7070;
  font-size: 35px;
  margin-right: 100px;
}
.active{
  color: #3d6fb4;
}
main{
  width: 100vw;
  height: 80vh;
 display: flex;

}
img{
  width: 621px;
  height: 621px;
 margin-right: 100px;
}
.topText{
  font-size: 70px;
  margin-bottom: 20px;
}
.centerText{
  font-size: 35px;
  margin-top: 0;
}
#left{
  margin-left: 138px;
  display: flex;
  flex-direction: column;
}
#video{
  width: 150px;
  height: 55px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  font-size: 16px;
  margin-right: 30px;
}
#learn{
  width: 130px;
  height: 55px;
  border-radius: 30px;
  border: 1px solid black;
  background: rgba(61, 111, 180, 0.29);
  font-size: 16px;
}
main div{
  display: flex;
  justify-content:start;
}
button{
  margin-top: 50px;
}
