main{
  width: 500px;
  height: 300px;
}
.email_password{
  display: flex;
  flex-direction: column;
}
input{
  height: 27px;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  background-color: #fdfdfd;
}
#first_name{
  width: 120px;
  margin-right: 5px;
}
#password, #email{
  margin-top: 20px;
  width: 297px;
}
input::placeholder{
  font-weight: bold;
  color: #9d99a7;
}
span{
  color: gray;
}
p{
  font-size: 0.7em;
  margin-top: 20px;
}
#submit {
  width: 297px;
  height: 30px;
  background-color: #f7d900;
  font-weight: bold;
  border: 1px solid #e9ad00;
  border-radius: 3px;
}
