body{
  font-family: 'Lora', serif;
  background-image: url("https://images.unsplash.com/photo-1673031288723-f198cd527b97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80");
  background-size: cover;
  font-size: 20px;
}
main{
  display: flex;
  flex-direction: column;
}
form{
  border: 4px dotted darkslategray;
  width: 30vw;
  margin-left: 20px;
  padding: 20px;
  border-radius: 15px;
}
h1{
  margin-left: 20px;
}
#name, #last_name{
  border-radius: 4px;
  height: 20px;
  background-color: #c0c9c0;
}
#last_name:focus{
  border: 3px solid black;
}
#name:focus{
  border: 3px solid black;
}
#female, #male {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #223636;
  border-radius: 50%;
}
.gender:checked{
  background-image: url("icons8-check.svg");
  background-size: cover;
}
#KyivStar,#mts,#life{
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #223636;
  border-radius: 50%;
}
.SIM:checked {
  background-image: url("icons8-check.svg");
  background-size: cover;
}
#submit, #reset{
  width: 140px;
  height: 30px;
  background-color: #021f06;
  color: white;
  border-radius: 10px;
  border-style: none;
  margin-top: 10px;
  margin-right: 5px;
  font-family: 'Lora', serif;
}
#submit:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#reset:hover{
  transform: scale(1.1);
  cursor: pointer;
}
