#container{
  margin: 15px;

}

#firstBlock{
  background-color: #5252cb;
  width: 100%;
  height: 300px;
  margin-bottom: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#secondBlock{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;

}
#thirdBlock{
  background-color: #5252cb;
  width: 100%;
  margin-top: 23px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.widget{
  background-color: #191985;
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  color: white;
  font-size: 25px;
}

.one{
  margin-right: 23px;
}
.three{
  margin-left: 23px;
}
